[submodule ".config/bash-git-prompt"]
	path = .config/bash-git-prompt
	url = https://github.com/magicmonty/bash-git-prompt.git
	ignore = dirty
[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/AstroNvim/AstroNvim
	ignore = dirty
[submodule ".config/rofi/rofi-network-manager"]
	path = .config/rofi/rofi-network-manager
	url = https://github.com/P3rf/rofi-network-manager.git
	ignore = dirty
[submodule ".config/awesome"]
	path = .config/awesome
	url = https://github.com/cherrynoize/awesome
[submodule ".config/wpg/templates/.config/awesome"]
	path = .config/wpg/templates/.config/awesome
	url = https://github.com/cherrynoize/awesome
[submodule ".github/.config/awesome"]
	path = .github/.config/awesome
	url = https://github.com/cherrynoize/awesome
[submodule ".dotfiles/.config/awesome"]
	path = .dotfiles/.config/awesome
	url = https://github.com/cherrynoize/awesome
