/* fonts */
$font0: MesloLGS NF;
$font1: JetBrainsMono NF;
$font2: Iosevka NF;
$font3: Ubuntu;

/* style */
$border-radius: 24px;
$bar-border-width: 1px;
$bar-border-style: solid;
//$win-border-radius: 16px;
$win-border-radius: $border-radius;
$win-border-width: $bar-border-width;
$win-border-style: $bar-border-style;

/* main colors */
$color0: #0f0f21;
$color15: #ffdcec;
$primary: #f171a7;
$primary-alt: #ff5778;
$secondary: #AC6583;
$fg: #ffdcec;
$fg-alt: #5768b6;
$bg: #1e1e43;
$bg-alt: #33436C;
$highlight: #BA5165;
$highlight-alt: #5D4A6D;
$accent: #ff5778;
$shadow: #19192f;
$shadow-alt: #18142c;
$light: #bfc9db;
$light-alt: #a1bdce;
$dark: #0f0f17;
$grey: #767c87;

/* bar colors */
$bar-fg: $fg;
//$bar-bg: linear-gradient(45deg, $color0, $bg-alt);
$bar-bg: $bg;
//$bar-sep-color: #3e424f;
//$bar-sep-color: #484850;
//$bar-sep-color: $highlight-alt;
$bar-sep-color: $secondary;
$bar-border-color: $accent;
//$bar-scale-bg: #e5afbb;
$bar-scale-bg: $accent;
//$bar-scale-highlight: linear-gradient(to right, #afcee0 30%, $fg-alt 50%, #77a5bf 100% *50);
$bar-scale-highlight: $light;
$bar-circular-progress-bg: #d75e8f;

/* panel colors */
$panel-fg: $fg;
//$panel-bg: linear-gradient(45deg, $color0, #13141c);
$panel-bg: $bg;
//$panel-container-bg: linear-gradient(45deg, $color0, $shadow-alt 8%, $bg-alt, $highlight-alt);
//$panel-container-bg: linear-gradient(45deg, $color0, $bg-alt 8%, $bg, $color0);
//$panel-container-bg: linear-gradient(85deg, $bg-alt, $color0 60%);
$panel-container-bg: $bg-alt;
$panel-scale-bg: $highlight-alt;
$panel-tray-icon-fg: #1f1d2f;
$panel-tray-icon-bg: $light;
$panel-weather-hover-bg: $highlight-alt;
//$panel-powermenu-btn-fg: $fg-alt;
$panel-powermenu-btn-fg: $panel-fg;
//$panel-powermenu-btn-bg: $highlight;
$panel-powermenu-btn-bg: $panel-scale-bg;
//$panel-powermenu-border-color: $panel-powermenu-btn-bg;
$panel-box-bg: $bg-alt;

/* window colors */
$win-bg: $bar-bg;
$win-border-color: #696969;
