@-moz-document url(about:privatebrowsing) {
  /* hide private window logo and info box */
  .showPrivate.showSearch.container
  :is(.logo, .wordmark, .info) {
    visibility: collapse;
  }

  /* center private window search box */
  .showPrivate.showSearch.container {
    display: flex !important;
    flex-flow: column nowrap !important;
    align-items: center !important;
  }

  .showPrivate.showSearch.container .search-inner-wrapper {
    min-width: 400px !important;
    border: 1px solid var(--transparent) !important;
    border-radius: 10px !important;
    transform: translateY(-10vh);
  }

  .showPrivate.showSearch.container .search-inner-wrapper:active {
    border-color: var(--general-color) !important;
  }
}
