/* thin scrollbar */
* {
   scrollbar-width: thin !important;
}

/* light theme scrollbar */
@media (prefers-color-scheme: light) {
  :root {
    scrollbar-color: #d8d9da #f4f2f7 !important;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    scrollbar-color: #38375580 #18173530 !important;
  }
}
