@import "~/.config/rofi/bindings.rasi"

configuration {
  modes: "window,run,drun,filebrowser,recursivebrowser,keys,ssh,combi";
  terminal: "alacritty";
}

@theme "~/.config/rofi/themes/current.rasi"
