@-moz-document url(chrome://browser/content/browser.xhtml) {
  .browserContainer > findbar {
    margin: 0px
            var(--useless-gaps)
            var(--useless-gaps)
            var(--useless-gaps) !important;
    border: var(--win-brdr-size)
            var(--win-brdr-style)
            var(--win-brdr-color) !important;
    border-radius: var(--win-brdr-radius) !important;
    transition: border-color var(--win-brdr-transition) !important;
  }

  .browserContainer > findbar {
    box-shadow: var(--win-box-shadow) !important;
  }

  .browserContainer > findbar:hover {
    border-color: var(--win-brdr-color-hover) !important;
  }

  .browserContainer > findbar .findbar-textbox {
    /* Properly center text */
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-align: center !important;
    border-radius: var(--textbox-brdr-radius) !important;
  }
}
