@-moz-document url(chrome://browser/content/browser.xhtml) {
  :root {
    /* Gaps around windows */
    --useless-gaps: 15px;

    /* Window style */
    --win-brdr-size: 3px;
    --win-brdr-style: solid;
    --win-brdr-color: transparent;
    --win-brdr-radius: 15px;
    --win-brdr-transition: .3s;

    /* URL bar */
    --urlbar-brdr-radius: .8; /* 0 (square) to 1 (round) */

    /* Join tabs bar with URL bar */
    --tab-border-radius: 3px !important;
    --NavbarWidth: 2;
    --TabsHeight: 36;
    --TabsBorder: 8;
    --NavbarHeightSmall: calc(var(--TabsHeight) + var(--TabsBorder));

    /* Unified extensions view addon icons */
    --uei-icon-size: 22px;
    --firefoxcss-number-of-extensions-in-a-row: 4;

    /* Sidebar */
    --sidebar-width: 40px;
    --sidebar-hover-width: 512px;

    --uc-bm-height: 24px;
    --uc-bm-padding: 8px;

    --textbox-brdr-radius: 10px;

    --default-cursor: default;
    --pointer-cursor: pointer;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      /* Window style (dark mode) */
      --win-brdr-color-hover: rgba(204, 204, 204, .6);
      --win-box-shadow: 0 0 10px 5px rgba(0,0,0,.5);
      --win-box-shadow-hover: 0 0 10px 5px rgba(0,0,0,.2);

      /* URL bar */
      --urlbar-background: #2a2a2a;
      --urlbar-results: #404243;
    }
  }

  @media (prefers-color-scheme: light) {
    :root {
      /* Window style (light mode) */
      --win-brdr-color-hover: rgba(51, 51, 51, .6);
      --win-box-shadow-hover: 0 0 10px 5px rgba(255,255,255,.2);
      --win-box-shadow: 0 0 10px 5px rgba(255,255,255,.5);

      /* URL bar */
      --urlbar-background: #d6d6d6;
      --urlbar-results: #e8e8e8;
    }
  }

  /*---------------main window----------------*/

  #browser {
    background-color: var(--toolbar-bgcolor) !important;
  }

  /*-----------------browser------------------*/

  /* Properly center the main browser */
  #sidebar-box {
    margin-right: 6px;
  }

  #sidebar2-box {
    margin-left: -17px;
  }

  #sidebar-splitter2 {
    margin: var(--useless-gaps) 12px;
  }

  #sidebar-splitter2 {
    opacity: 0;
  }

  #main-window:not([sizemode="fullscreen"])
  #appcontent
  browser {
    margin: var(--useless-gaps) !important;
    border: var(--win-brdr-size)
            var(--win-brdr-style)
            var(--win-brdr-color) !important;
    border-radius: var(--win-brdr-radius) !important;
    clip-path: circle(80%) !important;
    box-shadow: var(--win-box-shadow);
    transition: border-color var(--win-brdr-transition);
  }

  #main-window:not([sizemode="fullscreen"])
  #appcontent
  browser:hover {
    border-color: var(--win-brdr-color-hover) !important;
  }

  /*--------------------addons----------------------*/

  /* Minimal addon menu */
  #unified-extensions-view
  #unified-extensions-manage-extensions
  .toolbarbutton-text::before {
    content: "• • •";
    font-size: 15px;
    visibility: visible !important;
    display: block;
    text-align: center;
  }

  #unified-extensions-panel #unified-extensions-view {
    width: 100% !important;
  }

  #unified-extensions-view
  .unified-extensions-item-menu-button.subviewbutton,
  #unified-extensions-view
  .unified-extensions-item-action-button
  .unified-extensions-item-contents {
    display: none !important;
  }

  #unified-extensions-view .panel-subview-body {
    padding: 10px !important;
  }

  #unified-extensions-view
  .unified-extensions-item
  .unified-extensions-item-icon, 
  #unified-extensions-view
  .unified-extensions-item
  .toolbarbutton-badge-stack {
    margin-inline-end: 0px !important;
  }

  #unified-extensions-view #overflowed-extensions-list,
  #unified-extensions-view #unified-extensions-area,
  #unified-extensions-view .unified-extensions-list {
    display: grid !important;
    grid-template-columns: repeat(var(--firefoxcss-number-of-extensions-in-a-row),auto);
    justify-items:left !important;
    align-items:left !important;
  }

  /*----------------bookmarks toolbar---------------*/

  #PersonalToolbar {
    position: relative !important;
    padding: 1px 6px !important;
  }

  #PersonalToolbar:not([customizing]) {
    z-index: 2 !important;
    margin-bottom: calc(2px - var(--uc-bm-height) - 2 * var(--uc-bm-padding)) !important;
    transform: rotateX(90deg) !important;
    transform-origin: top !important;
    transition: transform .1s ease-in-out .6s,
                opacity .1s ease-in-out .6s !important;
  }

  #PersonalToolbar:not([customizing]):not(:hover) {
    opacity: 0;
  }

  /* Bookmark item padding and icon transition */
  #PlacesToolbarItems > .bookmark-item {
    padding-block: var(--uc-bm-padding) !important;
    padding-left: 6px !important;
    padding-right: 6px !important;
  }

  #PlacesToolbarItems > .bookmark-item .toolbarbutton-icon {
    transition: opacity .1s ease-in-out .4s !important;
    opacity: 0 !important;
  }

  /* Hover effect for toolbar and bookmark icon/text */
  #navigator-toolbox:hover > #PersonalToolbar,
  #navigator-toolbox:hover #PlacesToolbarItems > .bookmark-item .toolbarbutton-icon,
  #navigator-toolbox:hover #PlacesToolbarItems > .bookmark-item .toolbarbutton-text {
    transform: rotateX(0) !important;
    transition-delay: .1s !important;
    opacity: 1 !important;
  }

  /* Bookmark item text transition */
  #PlacesToolbarItems > .bookmark-item .toolbarbutton-text {
    transition: opacity .1s ease-in-out .4s !important;
    opacity: 0 !important;
  }

  /* Fix the white line above the bookmarks bar when it's empty */
  #personal-toolbar-empty {
    padding: 2px !important;
  }

  /*-----------------sidebar-----------------*/

  /* Expand sidebar on hover */
  #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] {
    position: relative;
    min-width: var(--sidebar-width) !important;
    width: var(--sidebar-width) !important;
    max-width: var(--sidebar-width) !important;
    z-index: 1;
  }

  #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]>#sidebar {
    transition: min-width .2s ease-in-out !important;
    min-width: var(--sidebar-width) !important;
    will-change: min-width;
    transition-delay: .3s !important;  /* Delay on hover off */
  }

  #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]:hover>#sidebar {
    min-width: var(--sidebar-hover-width) !important;
    transition-delay: .1s !important;  /* No delay on hover on */
  }

  #sidebar-box {
    opacity: .9;
  }

  /* Hide sidebar header and line */
  #sidebar-header,
  #sidebar-splitter {
    display: none !important;
  }

  /*----------------floorp sidebar-----------------*/

  /* Make splitter invisible */ 
  #sidebar-splitter2 {
  }

  /* Hide Floorp sidebar header */
  #sidebar2-header {
    max-height: .5em !important;
    min-height: .5em !important;
    opacity: 0 !important;
    transition: max-height .3s ease-in-out,
                min-height .3s ease-in-out,
                opacity .3s ease-in-out;
  }

  #sidebar2-header:hover {
    max-height: 2.5em !important;
    min-height: 2.5em !important;
    opacity: 1 !important;
  }

  /* Sidebar border */
  #sidebar-box #sidebar,
  #sidebar-box #webextpanels-window,
  #sidebar2-box browser {
    margin: var(--useless-gaps)
            var(--useless-gaps)
            var(--useless-gaps)
            5px;
    border: var(--win-brdr-size)
            var(--win-brdr-style)
            var(--win-brdr-color) !important;
    border-radius: var(--win-brdr-radius);
    box-shadow: var(--win-box-shadow);
    transition: border-color .3s;
  }

  #sidebar2-box browser:hover,
  #sidebar-box #sidebar:hover,
  #sidebar-box #webextpanels-window:hover {
    border-color: var(--win-brdr-color-hover);
    box-shadow: var(--win-box-shadow-hover);
  }

  /* Floorp sidebar select box */
  #sidebar-select-box {
    align-items: center !important;
    background-color: transparent !important;
  }

  .sidepanel-icon {
    border-radius: 10px !important;
  }

  /* Floorp sidebar */
  #sidebar-select-box {
    margin: var(--useless-gaps)
            calc(var(--useless-gaps) - 5px)
            var(--useless-gaps)
            var(--useless-gaps) !important;
    border: var(--win-brdr-size)
            var(--win-brdr-style)
            var(--win-brdr-color) !important;
    border-radius: var(--win-brdr-radius) !important;
    box-shadow: var(--win-box-shadow);
    transition: border-color var(--win-brdr-transition);
  }

  #sidebar-select-box:hover {
    border-color: var(--win-brdr-color-hover) !important;
    box-shadow: var(--win-box-shadow-hover);
  }

  .browser-sidebar2 {
	  border: none !important;
	  border-bottom: none !important;
  }
}
