:root {
  --general-color: var(--lwt-toolbarbutton-icon-fill-attention, var(--fuchsia));
}

:root[privatebrowsingmode="temporary"] {
  --general-color: var(--purple) !important;                                                 /* Accent color private mode */
}

:root {
  --tab-height-personal: 45px;                                                              /* Tama침o altura de pesta침as - 30px m칤nimo*/
  --tab-width-personal: auto;                                                              /* Tama침o altura de pesta침as - 30px m칤nimo*/
  --tab-min-width-personal: 85px;                                                              /* Tama침o altura de pesta침as - 30px m칤nimo*/
  --tab-active-width-personal: 140px;                                                              /* Tama침o altura de pesta침as - 30px m칤nimo*/
  --tab-stack-active-width-personal: auto;                                                              /* Tama침o altura de pesta침as - 30px m칤nimo*/
  --toolbar-height-personal: 45px;                                                          /* Toolbar height - 32px m칤nimo*/

  --padding-left-tab: 74px;                                                                 /* Tama침o horizontal bot칩n -Men칰- */
  
  --menu-label: "Menu";
  --account-label: "洧뎺洧뎿洧뎼洧돆洧돆洧돍洧洧멇롓뛿롓洧뎼"; /* Account label in panel menu */

  --left-color: var(--general-color);
  --right-color: #0060bfdd;

  --tab-primary: var(--darkgray);
  --tab-secondary: var(--bluegray);

  --personal-blur: blur(22px);
}

:root {
  /*----------------------------------Gradients------------------------------------*/
  --gradient: linear-gradient(to right, color-mix(in srgb, var(--tab-primary) 80%, var(--toolbar-bgcolor, Field)) 82% , var(--tab-secondary) 96%) !important;
  --panel-separator-zap-gradient1: linear-gradient(to left, var(--fuchsia) , #ff000000) !important;
  --panel-separator-zap-gradient2: linear-gradient(to right, color-mix(in srgb, var(--tab-primary) 80%, var(--toolbar-bgcolor, Field)) 82% , var(--transparent) 96%) !important;
  --panel-separator-zap-gradient3: linear-gradient(to left, var(--tab-primary) 90.7%, var(--transparent) 90.7%) !important;
  --panel-separator-zap-gradient4: linear-gradient(to left, var(--tab-primary) ,var(--grayfuchsia)) !important;
  --panel-separator-zap-gradient5: linear-gradient(to left, var(--button-bgcolor-personal) 36%, var(--arrowpanel-background) 100%) !important;

  /*-----------------------------Buttons hover/active-------------------------------*/
  --button-bgcolor-personal: color-mix(in srgb, var(--general-color) 22%, var(--fuchsia)) !important;    /*Color usado en el bot칩n men칰*/
  --button-bgcolor: color-mix(in srgb, var(--general-color) 40%, var(--green)) !important;             /*Color de buttons*/
  --button-bgcolor2: color-mix(in srgb, var(--general-color) 40%, var(--darkfuchsia)) !important;             /*Color de buttons*/
  --button-hover-bgcolor: color-mix(in srgb, var(--general-color) 55%, var(--darkindigo)) !important;       /*Color fondo de menuitems :hover*/
  --button-active-bgcolor: color-mix(in srgb, var(--general-color) 75%, var(--blue)) !important;      /*color clic en menuitems*/
  --toolbar-button-hover-bgcolor: color-mix(in srgb, var(--general-color) 55%, var(--gray)) !important;       /*Color fondo de menuitems :hover*/
  --menu-popup-bgcolor: color-mix(in srgb, var(--general-color) 40%, var(--fuchsia)) !important;             /*Color de buttons*/
  --menu-popup-bgcolor2: color-mix(in srgb, var(--general-color) 40%, var(--darkfuchsia)) !important;             /*Color de buttons*/
  --menu-popup-hover-bgcolor: color-mix(in srgb, var(--general-color) 55%, var(--darkindigo)) !important;       /*Color fondo de menuitems :hover*/
  --menu-popup-active-bgcolor: color-mix(in srgb, var(--general-color) 75%, var(--blue)) !important;      /*color clic en menuitems*/
}

@media (-moz-platform: linux) {
  :root {
    --panel-separator-zap-gradient2: linear-gradient(to right, color-mix(in srgb, var(--tab-primary) 80%, var(--toolbar-bgcolor, Field)) 92%, var(--transparent)) !important;
  }
}
