/* Context menu */
menupopup > menuitem,
menupopup > menu {
    padding-block: 5px !important;
    border-radius: 3px !important;
}

/* Separator between items */
menuseparator {
    margin-inline: 6px !important;
    padding: 0px !important;
    border-image: var(--panel-separator-zap-gradient1) 1 !important;
}

@media (-moz-platform: linux) {
    menuseparator:not(#PlacesToolbar) {
        appearance: none !important;
        border-top: 1px solid transparent !important;
        border-bottom: none !important;
        border-image: var(--panel-separator-zap-gradient1) 1 !important;
    }

    #PlacesToolbar menuseparator {
        border: none !important;
    }
}

/* Margins for menu and submenu of the menu */
menupopup:not(#PlacesToolbar) menupopup {
    margin-top: -9px !important;
}

#permission-popup menupopup {
    margin-top: -3px !important;
}

#PlacesToolbar menupopup menupopup {
    margin-top: -9px !important;
    margin-left: 2px !important;
}

/* General colors */
.menupopup-arrowscrollbox {
    background-image: var(--noise-urlbar-personal) !important;
    box-shadow: 0px 0px 0 1px var(--border-contrast-color, #09080d) !important;
    background-color: color-mix(in srgb, var(--arrowpanel-background, #1c1726) 90%, var(--contrast-color, #1c1726)) !important;
    color: var(--arrowpanel-color, #ffffff) !important;
    border-image: var(--panel-separator-zap-gradient4) 1 !important;
}

menupopup,
.menupopup-arrowscrollbox,
#PlacesToolbar {
    border-radius: 5px !important;
}

/* Make context navigation buttons appear as normal textual menu items */
#context-navigation {
    -moz-box-orient: vertical;
    flex-direction: column !important;
}

#context-navigation > menuitem > .menu-iconic-left {
    display: none;
}

#context-navigation > menuitem {
    padding-block: 0.5em;
    padding-inline-start: 1em;
    -moz-box-pack: start !important;
    width: auto !important;
}

/* Linux context menu dropdown arrow */
@media (-moz-platform: linux) {
    .menu-right {
        -moz-appearance: none !important;
        list-style-image: url(chrome://global/skin/icons/arrow-right.svg) !important;
        height: 16px !important;
        width: 16px !important;
        margin-right: 0 !important;
        -moz-context-properties: fill !important;
        fill: currentColor !important;
        opacity: 0.7 !important;
    }

    menupopup:not(#PlacesToolbar) menupopup {
        margin-left: 2px !important;
    }

    /* Necessary to remove unwanted glitch when quickly moving the mouse over menu items */
    menugroup > menu,
    menugroup > menuitem:not([selected="true"]) {
        appearance: none !important;
        background-color: transparent !important;
    }

    /* Make context navigation buttons appear as normal textual menu items */
    #context-navigation {
        appearance: none !important;
        -moz-box-orient: vertical;
        flex-direction: column !important;
    }

    #context-navigation > menuitem > .menu-iconic-left {
        appearance: none !important;
        display: none;
    }

    #context-navigation > menuitem {
        justify-content: flex-start !important;
        padding-inline-start: 1.5em !important;
        width: auto !important;
    }

    menu[_moz-menuactive="true"]:not([disabled]),
    menuitem[_moz-menuactive="true"]:not([disabled]) {
        background-color: var(--button-hover-bgcolor) !important;
        color: var(--arrowpanel-color, var(--lwt-tab-text)) !important;
    }

    #context-navigation > menuitem::before {
        content: attr(aria-label);
    }
}
