/* dark theme scrollbar */
@media (prefers-color-scheme: dark) {
    :root {
        scrollbar-color: #38375580 #18173530 !important;
    }
}

/* light theme scrollbar */
@media (prefers-color-scheme: light) {
    :root {
        scrollbar-color: #d8d9da #f4f2f7 !important;
    }
}

/* thin scrollbar */
* {
   scrollbar-width: thin !important;
}

/* left color logo and wordmark */
.alt-stop {
    stop-color: var(--left-color) !important;
}

/* right color logo and wordmark */
.main-stop {
    stop-color: var(--right-color) !important;
}

@-moz-document url(chrome://browser/content/browser.xul),
url(about:newtab),
url(about:home),
url(about:privatebrowsing) {
    @media (prefers-color-scheme: light) {
        body {
            --newtab-text-primary-color: var(--newtab-wordmark-color) !important;
            --newtab-text-secondary-color: var(--general-color) !important;
            --newtab-background-color: var(--fuchsia) !important;
            /* pinnes sites and search box background color */
            --newtab-background-color-secondary: transparent !important;

            /* background color when clicking on 3 dots icon */
            --newtab-element-hover-color: var(--button-active-bgcolor) !important;
            /* 3 dot menu items hover background */
            --newtab-element-secondary-hover-color: linear-gradient(
                to right,
                var(--button-hover-bgcolor) 49%,
                transparent
            ) !important;
            /* 3 dot menu item background onclick */
            --newtab-element-secondary-active-color: linear-gradient(
                to right,
                var(--button-active-bgcolor) 69%,
                transparent
            ) !important;

            /* 3 dot menu border and input text when editing site */
            --newtab-border-color: color-mix(
                in srgb,
                var(--newtab-background-color) 92%,
                var(--newtab-wordmark-color)
            ) !important;

            /* background when editing site */
            --newtab-overlay-color: color-mix(
                in srgb,
                var(--arrowpanel-background-personal) 34%,
                transparent
            ) !important;

            /* inactive elements */
            --newtab-element-secondary-color: color-mix(
                in srgb,
                var(--newtab-background-color) 86%,
                var(--newtab-wordmark-color)
            ) !important;

            --newtab-search-icon: url(chrome://global/skin/icons/search-glass.svg) !important;
            --contrast-color: white !important;
            --border-contrast-color: #acacac50 !important;

            --arrowpanel-background-personal: #f9f9f9 !important;

            /* sidebar background color */
            --lwt-sidebar-background-color: #efeff5 !important;

            /* View button and radio buttons background color */
            --newtab-primary-action-background: var(--button-active-bgcolor) !important;

            /* radio button foreground color */
            --newtab-primary-element-text-color: var(--arrowpanel-background-personal) !important;
        }
    }

    @media (prefers-color-scheme: dark) {
        body {
            --contrast-color: black !important;
            --border-contrast-color: #09080d !important;

            --arrowpanel-background-personal: #1c1726 !important;
            --lwt-sidebar-background-color: #14141d !important;
            --newtab-background-color: #101019 !important;

            --newtab-background-color-secondary: transparent !important;
            --newtab-element-hover-color: var(--button-active-bgcolor) !important;

            --newtab-element-secondary-hover-color: linear-gradient(to right,
            var(--button-hover-bgcolor) 49%, transparent) !important;

            --newtab-element-secondary-active-color: linear-gradient(to right,
            var(--button-active-bgcolor) 69%, transparent) !important;

            --newtab-border-color: color-mix(in srgb, var(--newtab-background-color) 92%,
            var(--newtab-wordmark-color)) !important;

            --newtab-text-primary-color: var(--newtab-wordmark-color) !important;
            --newtab-text-secondary-color: var(--general-color) !important;

            --newtab-overlay-color: color-mix(in srgb, #090909 54%, transparent) !important;

            --newtab-primary-action-background: var(--button-active-bgcolor) !important;

            --newtab-element-secondary-color: color-mix( in srgb,
            var(--newtab-background-color) 90%, var(--newtab-wordmark-color) ) !important;

            --newtab-primary-element-text-color: var(--newtab-text-primary-color) !important;
        }
    }

    @-moz-document
    url(chrome://browser/content/browser.xul),
    url(about:newtab),
    url(about:home),
    url(about:privatebrowsing),
    url(about:blank) {
        body {
            --newtab-background-color: #493954 !important;
            --newtab-background-color-secondary: #4f4383 !important;
        }
    }

    /* Hide scrollbar */
    * { scrollbar-width: none !important; }

    /* Sponsored checkbox color */
    .sponsored-checkbox:is(:checked):hover,
    .sponsored-checkbox:not(:checked):hover {
        background-color: var(--button-hover-bgcolor) !important;
    }

    /* Color de borde del radio-button en "Personalizar" */
    .home-section .section .slider {border-color: transparent !important;}
    .home-section .section .slider:hover {background-color: var(--button-hover-bgcolor) !important;}

    /* Editing top sites */
    .modal {
        background: var(--newtab-overlay-color) !important;
        border-image: var(--panel-separator-zap-gradient1) 1 !important;
        border-radius: 0 !important;
    }

    .modalOverlayOuter {
        backdrop-filter: blur(26px);
    }

    .topsite-form .actions {
        border-image: var(--panel-separator-zap-gradient1) 1 !important;
    }

    input[type="text"], input[type="search"] {
        border-radius: 4px !important;
    }

    input:focus-visible, input:focus-visible {
        outline: 1px solid var(--general-color) !important;
        border-color: var(--general-color) !important;
    }

    /* 3 dot menu background and border */
    .context-menu {
        background-color: var(--arrowpanel-background-personal) !important; border-radius: 0px !important;
        box-shadow: 0px 0px 0 1px var(--border-contrast-color) !important;
        border: 1px solid var(--arrowpanel-background-personal) !important;
        border-image: var(--panel-separator-zap-gradient1) 1 !important;
    }

    .context-menu .separator {
        margin-block: 2px !important;
        margin-left: 6px !important; margin-right: 6px !important;
        width: -moz-available !important;
        border-image: var(--panel-separator-zap-gradient1) 1 !important;
    }

    .actions button:not(.cancel), .actions button:focus:not(.cancel) {
        color: white !important;
        border: transparent !important;
    }

    .actions button:hover:not(.dismiss) {
        background-color: var(--button-hover-bgcolor) !important; color: white !important; box-shadow:none !important;
    }

    .actions button:is(.cancel) {
        background-color: var(--newtab-element-secondary-color) !important;
        border-color: transparent !important;
    }

    .actions button:is(.cancel):hover {
        box-shadow:none !important;
        background-color: #da3633 !important;
        color: #f0f6fc !important;
        border-color: #f85149 !important;
    }

    .icon.icon-settings {
        background-image: url("../images/edit.svg") !important;
    }

    .personalize-button {
        color: color-mix(
            in srgb,
            var(--newtab-background-color) 60%,
            var(--newtab-wordmark-color)
        ) !important;
    }

    .personalize-button:hover {
        background-color: var(--newtab-background-color-secondary) !important;
        fill: var(--newtab-wordmark-color) !important;
    }

    .close-button {
        background-color: var(--newtab-element-secondary-color) !important;
        color: var(--newtab-wordmark-color) !important;
        border-radius: 4px !important;
        border-color: transparent !important;
    }

    .close-button:hover {
        background-color: var(--button-active-bgcolor) !important;
        color: #ffffff !important;
        border-radius: 4px !important;
    }

    /* customize newtab sidebar background */
    .customize-menu {
        background-color: color-mix(
            in srgb,
            var(--newtab-background-color),
            var(--newtab-overlay-color)
        ) !important;
        color: var(--newtab-wordmark-color) !important;
        backdrop-filter: var(--personal-blur);
    }

    /* Customize newtab sidebar combobox */
    .home-section .section .selector {
        background-color: var(--newtab-element-secondary-color) !important;
        border-color: transparent !important;
        border-radius: 4px !important;
    }

    .home-section .section .selector:hover {
        background-color: var(--button-active-bgcolor) !important;
        border-color: var(--button-hover-bgcolor) !important;
        color: white !important;
    }

    /* Shadow to the left of sidebar */
    .customize-menu.customize-animate-enter-done, .customize-menu.customize-animate-enter-active {
        box-shadow: -1px 0 #00000030, 0px 0px 20px rgb(1 1 1 / 16%), 0px 0px 10px rgb(0 0 0 / 93%) !important;
    }

    /* Separator */
    .home-section .divider {
        border-image: var(--panel-separator-zap-gradient1) 1 !important;
    }

    /* Searchbox */
    .search-inner-wrapper {
        position: relative;
        background: var(--newtab-pinnedsites-background) !important;
        opacity: var(--searchbar-on-off, 1) !important;
        display: var(--searchbar-display, flex) !important;
        margin-top: 16px !important;
        outline: 1px solid #50505030 !important;
    }

    .search-inner-wrapper::after {
        width: unset !important;
        background: linear-gradient(to right, var(--button-bgcolor), var(--button-hover-bgcolor), var(--button-bgcolor)) !important;
        border-radius:0 0 4px 4px;
        content: '';
        height: 3px;
        left: 0px;
        position: absolute;
        right: 0;
        bottom: -1px;
        transform: scale(0, 1);
    }

    .search-inner-wrapper::after {
        transform: scale(1, 1);
    }

    .search-inner-wrapper:is(:hover)::after {
        background: var(--button-active-bgcolor) !important;
    }

    .search-inner-wrapper:not(:focus) {
        border-radius: 4px !important;
        backdrop-filter: none !important;
    }

    @supports -moz-bool-pref("browser.newtabpage.activity-stream.improvesearch.handoffToAwesomebar") {
        .search-inner-wrapper:not(:focus) {
            backdrop-filter: var(--personal-blur) !important;
        }
    }

    .search-inner-wrapper:is(:hover) {
        border-radius: 4px !important;
    }

    .search-inner-wrapper:not(:focus) input, .search-wrapper:not(:active) input:focus {
        border-radius: 4px !important;
        backdrop-filter: var(--personal-blur) !important;
    }

    .search-handoff-button {
        border-color: transparent !important;
        border-radius: 4px !important;
        box-shadow: none !important; 
    }

    .search-wrapper .search-inner-wrapper:active input, .search-wrapper input:focus {
        outline: 1px solid var(--button-active-bgcolor) !important;
        border: transparent !important;
        margin-left: 1px !important;
        z-index: 1 !important;
    }

    .search-wrapper .search-button:focus, .search-wrapper .search-button:hover {
        fill: white !important;
    }

    .search-wrapper .search-inner-wrapper:active input,
    .search-wrapper input:focus {
        box-shadow: none !important;
    }

    browser[primary="true"][tabDialogShowing="true"],
    #main-window[window-modal-open="true"] > body > #browser{
        filter: blur(10px);
    }

    /* Recent activity */
    .card-outer .card { 
        backdrop-filter: var(--personal-blur);
        border-radius: 0px !important;
        box-shadow: 0px 2px 0px var(--button-hover-bgcolor) !important;
        border: 1px solid !important;
        border-bottom: 0px !important;
        border-color: #50505030 !important;
    }

    .compact-cards .card-outer .card-preview-image-outer {
        border-radius: 0 !important;
    }

    /* Pinned sites */
    .top-site-icon {
        background-color: transparent !important;
    }

    .top-site-button .tile {
        box-shadow: none !important;
        background-color: none !important;
        border: 1px solid var(--newtab-background-color-secondary) !important;
    }

    /* Pinned icon */
    .title.has-icon.pinned {
        margin-left: -14px !important;
    }

    .top-site-outer .title span:is(:hover) .icon.icon-pin-small {
        transition-delay: 150ms !important;
    }

    .top-site-outer .title span:not(:hover) .icon.icon-pin-small {
        opacity: 0 !important;
    }

    /* Top sites */
    .top-sites-list {
        background: var(--newtab-pinnedsites-background) !important;
        backdrop-filter: var(--personal-blur) !important;
        outline: 1px solid #50505030 !important;
        outline-offset: -1px !important;
        border-radius: 4px !important;
    }

    .top-sites-list {
        position: relative;
    }

    .top-sites-list::after {
        background: linear-gradient(
            to right,
            var(--button-bgcolor),
            var(--button-hover-bgcolor),
            var(--button-bgcolor)
        ) !important;
        border-radius: 0 0 4px 4px;
        content: '';
        width: unset !important; 
        height: 3px;
        left: 1px;
        position: absolute;
        right: 0;
        bottom: 0px;
        transform: scale(0, 1);
    }

    .top-sites-list::after {
        transform: scale(1, 1);
    }

    .top-sites-list:is(:hover)::after {
        background: linear-gradient(to right, var(--button-active-bgcolor), var(--button-active-bgcolor), var(--button-active-bgcolor)) !important;
    }

    /* colores al pasar el mouse sobre los sitios anclados en :hover */
    .top-site-outer:is(.active, :focus, :hover) .tile{
        background: color-mix(in srgb, var(--contrast-color) 10%, transparent) !important;
        box-shadow: 0 0 0 1px var(--button-active-bgcolor) !important;
    }
    /* colores al pasar el mouse sobre los sitios anclados (fondo más grande) */
    .top-site-outer:is(.active, :focus, :hover){
        background: transparent !important;
    }
    /* ícono de 3 puntos al hacerle hover y clic */
    .context-menu-button:active, .context-menu-button:focus{ fill: var(--general-color) !important; }
    /* Botón de editar sitio anclado */
    .top-site-outer .context-menu-button {
        background-image: url("resource://gre/chrome/toolkit/skin/classic/global/icons/more.svg") !important;
        background-color: transparent !important;
        background-size: 60% !important;
        inset-inline-end: 2px !important;
        top: -2px !important;
        right: 3px !important;
        transform: scaleX(1) !important;
        transition: position 400ms 400ms, opacity 400ms 400ms, transform 800ms 600ms !important;
        fill: var(--button-hover-bgcolor) !important;
    }.top-site-outer:hover .context-menu-button {
        right: 5px !important;
        opacity: .8 !important;
        transform: scaleX(1.1) !important;
    }
    /* popup trying to remove saved sites */
    .modal {
        backdrop-filter: var(--personal-blur) !important;
        outline: 1px solid var(--border-contrast-color) !important;
    }
    /*------------------------ background, logo and wordmark ------------------------*/
    body {
        /* background: var(--lwt-main-image) no-repeat right top fixed !important; */
        background-size:  var(--wallpaper-size) !important;
        background-position-y: var(--background-align-y) !important;
        backdrop-filter: var(--brightness-wallpaper) !important;
    }
    .logo {
        background: url("../images/foxlogo.svg") no-repeat !important;
        background-size: cover !important;
        min-height: 80px !important;
        min-width: 75px !important;
        transform: scale(var(--logo-wordmark-scale)) !important;
        opacity: var(--logo-wordmark-visibility) !important;
        display: var(--logo-wordmark-display) !important;
    }
    .search-wrapper .search-handoff-button, .search-wrapper input {
        background-blend-mode: var(--search-logo-blend-mode);
    }
    .wordmark {
        background: url("../images/firefox-wordmark.svg") no-repeat center center !important;
        background-size: 134px !important;
        Opacity: var(--logo-wordmark-visibility) !important;
        display: var(--logo-wordmark-display) !important;
    }
    .search-wrapper .logo-and-wordmark {
        margin-bottom: 0px !important;
    }
    .promo-cta .button {
    color: #cacaca !important; }
    main {
        margin-top: var(--newtab-pinnedsites-position-top, auto) !important;
        transform: translateY(var(--newtab-pinnedsites-transform-y));
    }

    /* "Logo-wordmark" y search-box en una sola linea */
    @media screen and (min-width: 1000px){
        .wordmark{ margin-inline-end: 50px !important;  }
        .search-wrapper, .search-inner-wrapper{
            display: var(--orientation-display) !important;
            justify-content: center !important;
        }
        .search-inner-wrapper{
            display: var(--searchbar-display) !important;
            height: 52px !important;
            margin-top: 16px !important;
        }
    }
}

/*---------------------------------- Pagina de Error al Cargar Página ---------------------------------------------*/
@-moz-document url('about:config'),  url(about:privatebrowsing),
regexp("^about:(neterror|certerror).*") , url('about:firefoxview') {

    .button[autofocus], .button[type="submit"], .button[default], button.primary:not(:hover) {
        background-color: var(--button-active-bgcolor) !important;
        color: white !important;
        border-color: transparent !important;
    }
    button.primary:hover{
        background-color: var(--general-color) !important;
    color: white !important; }
}
/*Color fondo y letra al seleccionar texto*/
::selection {
    color: black;
    box-shadow: none;
    background: var(--selected-text-background);
}
/* ----------------------- search input and ads style in private mode ------------------------*/
@-moz-document url(about:privatebrowsing) {
    :root{ --general-color: var(--purple) !important; }
    body{
        background: var(--lwt-private-image) no-repeat right top fixed !important;
        background-size:  var(--wallpaper-size) !important;
        background-position-y: var(--background-align-y) !important;
        backdrop-filter: var(--brightness-wallpaper) !important;
    }
    .promo.below-search, .info{
        background-color: var(--newtab-pinnedsites-background) !important;
        backdrop-filter: var(--personal-blur) !important;
        outline: 1px solid #50505030 !important;
    }
    .search-handoff-button{
        background-color: transparent !important;
        border: transparent !important;
        box-shadow: none !important;
    }
    .fake-textbox{
        color: var(--newtab-wordmark-color) !important;
    }
}
/*..........................................Firefox--------------------------------------------
---------------------------------------------view-----------------------------------------------*/
@-moz-document url(about:firefoxview), regexp("^about:.*") {
    @media (prefers-color-scheme: dark){
        body{ 
            --in-content-zap-gradient: linear-gradient(90deg, #9059FF 0%, #FF4AA2 52.08%, #FFBD4F 100%) !important;
            background-color: #101019 !important;
        }
    }
    @media (prefers-color-scheme: light){
        body{
            --in-content-zap-gradient: linear-gradient(90deg, #9059FF 0%, #FF4AA2 52.08%, #FFBD4F 100%) !important;
        background-color: #efeff5 !important; }
    }
    .synced-tab-a{
        border-color: var(--in-content-box-border-color) !important;
    }
    .synced-tab-a:hover {
        border-color: var(--general-color) !important;
        box-shadow: 0px 2px 14px var(--button-bgcolor) !important;
    }
}
