/* Hide top tabs bar */
#TabsToolbar {
    visibility: collapse;
}

/* Height for tabs in touch density */
:root[uidensity="touch"] {
    --tab-height-personal: 36px !important;
}

/* Active tab */
.tabbrowser-tab[selected="true"] {
    min-width: var(--tab-active-width-personal) !important;
    width: var(--tab-active-width-personal) !important;
    max-width: var(--tab-active-width-personal) !important;
}

/* Better view and select tabs */
@supports not
-moz-bool-pref("userChrome.tab.bottom_rounded_corner") {
    .tab-background[multiselected]:not([selected="true"]),
    tab-background:is([multiselected]):not([selected="true"]) .tab-stack {
        margin-inline: 0px 0px !important;
        background: var(--button-hover-bgcolor) !important;
        outline: none !important;
        margin-block: 0px !important;
    }
}

@supports not
-moz-bool-pref("userChrome.tab.bottom_rounded_corner") {
    .tab-background[multiselected][selected="true"] hbox {
        background: var(--tab-primary) !important;
    }
}

/* Tab max width */
.tabbrowser-tab[fadein]:not([style^="max-width"]) {
    max-width: 200px !important;
}

/* Reduce spacing between pinned and regular tabs */
#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs]) >
#tabbrowser-arrowscrollbox >
.tabbrowser-tab[first-visible-unpinned-tab] {
    margin-inline-start: 0px !important;
}

/* Remove pre-tabs spacer */
.titlebar-spacer[type="pre-tabs"] {
    display: none !important
}

/* Pinned tab */
.tabbrowser-tab >
.tab-stack >
.tab-content[pinned][titlechanged]:not([selected="true"]) {
    background-image: radial-gradient(
        circle,
        var(--tab-primary),
        var(--tab-primary) 2px,
        transparent 2px
    ) !important;
    background-position: center top calc(
        0px + var(--tabs-navbar-shadow-size)
    ) !important;
}
