/* --------------- Toolbar icons -------------------*/
/* back button */
#back-button image {    
    list-style-image: url("../images/back.svg") !important;
}
/* forward - go button */
#forward-button image {
    list-style-image: url("../images/forward.svg") !important;
    padding-inline-start: 5px !important;
}
/* home button */
#home-button image{
    list-style-image: url("../images/home.svg") !important;
}
/* bookmark icon */
#pageAction-panel-bookmark[starred], #star-button[starred] {
    list-style-image: url("../images/bookmark.svg") !important; }
#pageAction-panel-bookmark, #star-button {
    list-style-image: url("../images/bookmark-empty.svg") !important;
}
/* tracking protection icon */
#tracking-protection-icon-container, #page-action-buttons{
  -moz-box-ordinal-group: 2 !important;
}
#urlbar-input-container[pageproxystate="valid"] > #tracking-protection-icon-container > #tracking-protection-icon-box > #tracking-protection-icon {
    list-style-image: var(--shield-icon-personal) !important;
    fill: var(--lwt-toolbarbutton-icon-fill-attention) !important;
}
#urlbar-input-container[pageproxystate="valid"] > #tracking-protection-icon-container > #tracking-protection-icon-box[hasException] > #tracking-protection-icon {
    list-style-image: url(chrome://browser/skin/tracking-protection-disabled.svg) !important;
    fill: var(--buttons-destructive-bgcolor) !important;
}
/* id icon */
#identity-box[pageproxystate="valid"].verifiedDomain #identity-icon, #identity-box[pageproxystate="valid"].mixedActiveBlocked #identity-icon {
    list-style-image: url("../images/security.svg") !important;
    fill: var(--toolbarbutton-icon-fill) !important;
}
/* additional permissions icon */
#permissions-granted-icon {
    list-style-image: url("../images/permissions.svg") !important;
    fill: var(--toolbarbutton-icon-fill) !important;
}
/* reader mode */
#reader-mode-button > .urlbar-icon {
    list-style-image: url("../images/read-mode.svg") !important;
}
/* panel menu icon */
#PanelUI-menu-button {
  list-style-image: url("../images/foxFill.svg") !important;
}
