/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text.
   https://github.com/Godiesc/opera-gx */

:root {
/* --------------------- Variables de colores, puedes poner tu color personalizado y utilizarlo -----------------------------*/
  --fuchsia: #fa1e4e;     --blue: #4c4cff;     --aqua: #00bfff;         --cyan: #00ffff;          --lightblue: #45a1ff;     --pink: #FF0F7E;
  --purple: #8d35e2;      --green: #05b694;    --aquamarine: #00ffa2;   --lightgreen: #36ff4e;    --yellowbrown: #febd60;   --swampautumn: #fdf008;
  --gray: #bfb6d2;        --orange: #ff6c22;   --yellow: #ffe20f;       --red: #ff3230;           --navyblue: #0050cE;      --poison: #cb17cf;
  --darkgray: #6f6792dd;  --bluegray: #5c6cb2d8;                        --darkfuchsia: #8a0080;   --grayfuchsia: #ca6eaea5; --darkindigo: #2a009077;
  --transparent: #ccc3;

/*
    Accent color -----> UI del navegador.  -----|                  |---- userContent <------------ Accent color
                                                |                  |     (Add-ons, preferences and newtab page.)
                                                v                  v                                                          */
  --general-color: var(--lwt-toolbarbutton-icon-fill-attention, var(--fuchsia));
}

/*--------------------------<-Personalizaciones Varias->----------------------------*/

@media (prefers-color-scheme: dark){ :root{
  --lwt-main-image:  url("../images/newtab/wallpaper-dark.png") !important;                  /* new-tab page image - dark theme */
  --lwt-private-image:  url("../images/newtab/private-dark.png") !important;                 /* new-tab private-page image - dark theme */
  --brightness-wallpaper: brightness(100%);                                                  /* 100% -> default ; 51% -> to <<main-image>> config */ }}

@media (prefers-color-scheme: light){ :root{
  --lwt-main-image:  url("../images/newtab/wallpaper-light.png") !important;                 /* new-tab page image - white theme*/
  --lwt-private-image:  url("../images/newtab/private-light.png") !important;                /* new-tab private-page image - white theme*/
  --brightness-wallpaper: brightness(100%);                                                  /* 100% -> default and Main-image config */ }}

:root[privatebrowsingmode="temporary"]{ --general-color: var(--purple) !important; }         /* Accent color private mode */

:root{
  --wallpaper-size: cover;                                                                   /* cover-> default ; auto auto -> to <<main-image>> config */

  --tab-height-personal: 45px ;                                                              /* Tamaño altura de pestañas - 30px mínimo*/
  --tab-width-personal: auto ;                                                              /* Tamaño altura de pestañas - 30px mínimo*/
  --tab-min-width-personal: 85px ;                                                              /* Tamaño altura de pestañas - 30px mínimo*/
  --tab-active-width-personal: 140px ;                                                              /* Tamaño altura de pestañas - 30px mínimo*/
  --tab-stack-active-width-personal: auto ;                                                              /* Tamaño altura de pestañas - 30px mínimo*/
  --toolbar-height-personal: 45px ;                                                          /* Toolbar height - 32px mínimo*/

  --menu-label: "Menu" ;                                                                     /* Label botón -Menú- */
  --padding-left-tab: 74px ;                                                                 /* Tamaño horizontal botón -Menú- */
  /* Account label in panel menu */
/*
  --account-label: "ｃｈｅｒｒｙｎｏｉｚｅ";
  --account-label: "𝒄𝒉𝒆𝒓𝒓𝒚𝒏𝒐𝒊𝒛𝒆";
*/
  --account-label: "𝕔𝕙𝕖𝕣𝕣𝕪𝕟𝕠𝕚𝕫𝕖";

  --left-color: var(--general-color);                                                        /* Color left logo y wordmark */
  --right-color: #0060bfdd ;                                                                 /* Color right logo y wordmark */

  --tab-primary: var(--darkgray);
  --tab-secondary: var(--bluegray);

  --logo-wordmark-visibility: .8 ;                                                            /* :1 visible, :0 invisible ; Logo-wordmark*/
  --logo-wordmark-display: flex ;                                                            /* :none ->eliminar , :flex ->Mostrar;  Logo-wordmark*/
  --logo-wordmark-scale: .8 ;                                                            /* :none ->eliminar , :flex ->Mostrar;  Logo-wordmark*/
  --search-logo-blend-mode: overlay;
  --searchbar-on-off: 1 ;                                                                    /* :1 visible, :0 invisible ; searchbar*/
  --searchbar-display: flex ;                                                                /* :none ->eliminar , :flex ->Mostrar; searchbar*/
  --orientation-display: flex ;                                                              /* :block -> vertical , :flex -> horizontal ; Logo-wordmark y searchbar*/

  --newtab-pinnedsites-background: color-mix(in srgb, white 1%, var(--transparent)) ;               /* color - fondo de sitios fijados y barra de búsqueda*/
  --newtab-pinnedsites-position-top: auto ;                                                   /* Posición pinnedsites - top-> : 0px ; default-> : auto*/
  --newtab-pinnedsites-transform-y: -3vh ;                                                   /* Posición pinnedsites - top-> : 0px ; default-> : auto*/

  --selected-text-background: var(--general-color);                                          /* Selected text background */

  --personal-blur: blur(22px);

  /*--background-align-y: -70px ;                                                              /* Alinear new-tab wallpaper to <<main-image>> config
                                                                                                -70px  ventana normal;
                                                                                                -98px  con Barra de Marcadores;
                                                                                                -128px con B.Marcadores y B.Menu  */
}

:root{
  /*-----------------------------------Gradientes------------------------------------*/
  --gradient: linear-gradient(to right, color-mix(in srgb, var(--tab-primary) 80%, var(--toolbar-bgcolor, Field)) 82% , var(--tab-secondary) 96%) !important;
  --panel-separator-zap-gradient1: linear-gradient(to left, var(--fuchsia) , #ff000000) !important;
  --panel-separator-zap-gradient2: linear-gradient(to right, color-mix(in srgb, var(--tab-primary) 80%, var(--toolbar-bgcolor, Field)) 82% , var(--transparent) 96%) !important;
  --panel-separator-zap-gradient3: linear-gradient(to left, var(--tab-primary) 90.7%, var(--transparent) 90.7%) !important;
  --panel-separator-zap-gradient4: linear-gradient(to left, var(--tab-primary) ,var(--grayfuchsia)) !important;
  --panel-separator-zap-gradient5: linear-gradient(to left, var(--button-bgcolor-personal) 36%, var(--arrowpanel-background) 100%) !important;

  /*------------------------------Botones hover, clic--------------------------------*/
  --button-bgcolor-personal: color-mix(in srgb, var(--general-color) 22%, var(--fuchsia)) !important;    /*Color usado en el botón menú*/
  --button-bgcolor: color-mix(in srgb, var(--general-color) 40%, var(--green)) !important;             /*Color de buttons*/
  --button-bgcolor2: color-mix(in srgb, var(--general-color) 40%, var(--darkfuchsia)) !important;             /*Color de buttons*/
  --button-hover-bgcolor: color-mix(in srgb, var(--general-color) 55%, var(--darkindigo)) !important;       /*Color fondo de menuitems :hover*/
  --button-active-bgcolor: color-mix(in srgb, var(--general-color) 75%, var(--blue)) !important;      /*color clic en menuitems*/
  --toolbar-button-hover-bgcolor: color-mix(in srgb, var(--general-color) 55%, var(--gray)) !important;       /*Color fondo de menuitems :hover*/
  --menu-popup-bgcolor: color-mix(in srgb, var(--general-color) 40%, var(--fuchsia)) !important;             /*Color de buttons*/
  --menu-popup-bgcolor2: color-mix(in srgb, var(--general-color) 40%, var(--darkfuchsia)) !important;             /*Color de buttons*/
  --menu-popup-hover-bgcolor: color-mix(in srgb, var(--general-color) 55%, var(--darkindigo)) !important;       /*Color fondo de menuitems :hover*/
  --menu-popup-active-bgcolor: color-mix(in srgb, var(--general-color) 75%, var(--blue)) !important;      /*color clic en menuitems*/
  }

@media (-moz-platform: linux ){:root{
  --panel-separator-zap-gradient2: linear-gradient(to right, color-mix(in srgb, var(--tab-primary) 80%, var(--toolbar-bgcolor, Field)) 92%, var(--transparent)) !important;
  }}
