@import url('components/ogx_root.css');
@import url('components/ogx_root-personal.css');
@import url('components/ogx_containers.css');
@import url('components/ogx_tabs-bar.css');
@import url('components/ogx_urlbar-searchbar.css');
@import url('components/ogx_customize-styles.css');
@import url('components/ogx_sound.css');
@import url('components/ogx_arrowpanel.css');
@import url('components/ogx_contextual-menu.css');
@import url('components/ogx_notifications.css');
@import url('components/ogx_close-button.css');
@import url('components/ogx_button-styles.css');
@import url('components/ogx_library.css');
@import url('components/ogx_hamburger-menu-icons.css');
@import url('components/ogx_UC-newtabpage.css');
@import url('components/ogx_UC-settings-addons-pages.css');

@import url('components/toolbar-icons.css');
@import url('components/titlebar-controls.css');

@import url('components/settings.css');
