@-moz-document url(chrome://browser/content/browser.xhtml) {
  #PersonalToolbar {
    position: absolute !important;
    top: var(--bookmarks-toolbar-margin-top) !important;
    width: 100vw;
    height: var(--bookmarks-toolbar-height) !important;
    max-height: var(--bookmarks-toolbar-height) !important;
    padding: 1px 6px !important;
    transition: max-height .22s ease .32s,
                transform .1s ease-in-out .5s,
                box-shadow .1s ease-in-out .5s,
                opacity .1s ease-in-out .5s !important;
  }

  #PersonalToolbar:not([customizing]) {
    z-index: 2 !important;
    margin-bottom: calc(2px - var(--uc-bm-height) - 2 * var(--uc-bm-padding)) !important;
    transform: rotateX(90deg) !important;
    transform-origin: top !important;
  }

  #navigator-toolbox:not(:hover)
  #PersonalToolbar:not([customizing]) {
    max-height: 0 !important;
    opacity: 0;
  }

  /* Hover effect for toolbar and bookmark icon/text */
  #navigator-toolbox:hover > #PersonalToolbar,
  #navigator-toolbox:hover
  #PlacesToolbarItems > .bookmark-item
  :is(.toolbarbutton-icon, .toolbarbutton-text) {
    transform: rotateX(0) !important;
    opacity: .99 !important;
    transition: max-height .6s,
                transform .1s ease-in-out .1s,
                box-shadow .1s ease-in-out .1s,
                opacity .1s ease-in-out .1s !important;
  }

  #navigator-toolbox:hover > #PersonalToolbar {
    box-shadow: 0 0 .4em .9em var(--dark),
                0 55px 100px 10px var(--dark),
                0 1em 50px -1em color-mix(
                    in lch,
                    var(--primary-color) 8%,
                    transparent) !important;
  }

  /* Bookmark item padding and icon transition */
  #PlacesToolbarItems > .bookmark-item {
    padding-block: var(--uc-bm-padding) !important;
    padding-left: 6px !important;
    padding-right: 6px !important;
  }

  #PlacesToolbarItems > .bookmark-item .toolbarbutton-icon {
    transition: opacity .1s ease-in-out .4s !important;
    opacity: 0 !important;
  }

  /* Bookmark item text transition */
  #PlacesToolbarItems > .bookmark-item .toolbarbutton-text {
    transition: opacity .1s ease-in-out .4s !important;
    opacity: 0 !important;
  }

  /* Fix white line above bookmarks bar when it's empty */
  #personal-toolbar-empty {
    padding: 2px !important;
  }
}
