@-moz-document url(chrome://browser/content/browser.xhtml) {
  :root {
    /* General style */
    --btn-brdr-radius: 6px;

    /* Gaps around windows */
    --useless-gaps: 15px;

    /* Window style */
    --win-brdr-size: 3px;
    --win-brdr-style: solid;
    --win-brdr-radius: 15px;
    --win-brdr-transition: .3s;

    /* Titlebar */
    --tab-favicon-size: 37px;
    --tab-min-width: var(--tab-favicon-size) !important;

    /* Toolbar */
    --toolbar-height: 2.25rem;
    --bookmarks-toolbar-margin-top: var(--toolbar-height);
    --bookmarks-toolbar-height: 1.8rem;

    /* URL bar */
    --urlbar-brdr-radius: .8; /* 0 (square) to 1 (round) */

    /* Join tabs bar with URL bar */
    --tab-border-radius: 3px !important;
    --NavbarWidth: 2;
    --TabsHeight: 36;
    --TabsBorder: 8;
    --NavbarHeightSmall: calc(var(--TabsHeight) + var(--TabsBorder));

    /* Unified extensions view addon icons */
    --uei-icon-size: 22px;
    --firefoxcss-number-of-extensions-in-a-row: 4;

    /* Sidebar */
    --sidebar-width: 40px;
    --sidebar-hover-width: 512px;

    --uc-bm-height: 24px;
    --uc-bm-padding: 8px;

    --textbox-brdr-radius: 10px;

    --default-cursor: default;
    --pointer-cursor: pointer;
  }

  /*---------------root window----------------*/

  #browser,
  #sidebar-box,
  #sidebar2-box,
  #sidebar-select-box,
  #navigator-toolbox-background,
  #nav-bar,
  #nav-bar-customization-target,
  #PanelUI-button,
  .tab-content,
  .tab-background,
  #PersonalToolbar,
  stack.browserStack,
  .browserSidebarContainer {
    background: var(--bg-color) !important;
  }

  /*-------------browser section---------------*/

  #main-window:not([sizemode="fullscreen"])
  #browser {
    padding: var(--useless-gaps) !important;
  }

  /*-------------content window---------------*/

  /* Hide margin around browser in fullscreen mode */
  #main-window[sizemode="fullscreen"]
  #appcontent
  browser {
    margin: 0 !important;
  }

  #main-window:not([sizemode="fullscreen"])
  #appcontent
  browser {
    margin: 0 var(--useless-gaps) !important;
    background-color: var(--content-bg-color);
    border: var(--win-brdr-size)
            var(--win-brdr-style)
            var(--win-brdr-color) !important;
    border-radius: var(--win-brdr-radius) !important;
    clip-path: circle(80%) !important;
    box-shadow: var(--win-box-shadow);
    transition: border-color var(--win-brdr-transition);
  }

  #main-window:not([sizemode="fullscreen"])
  #appcontent
  browser:hover {
    border-color: var(--win-brdr-color-hover) !important;
  }

  /*--------------------addons----------------------*/

  /* Minimal addon menu */
  #unified-extensions-view
  #unified-extensions-manage-extensions
  .toolbarbutton-text::before {
    content: "• • •";
    font-size: 15px;
    visibility: visible !important;
    display: block;
    text-align: center;
  }

  #unified-extensions-panel #unified-extensions-view {
    width: 100% !important;
  }

  #unified-extensions-view
  .unified-extensions-item-menu-button.subviewbutton,
  #unified-extensions-view
  .unified-extensions-item-action-button
  .unified-extensions-item-contents {
    display: none !important;
  }

  #unified-extensions-view .panel-subview-body {
    padding: 10px !important;
  }

  #unified-extensions-view
  .unified-extensions-item
  .unified-extensions-item-icon, 
  #unified-extensions-view
  .unified-extensions-item
  .toolbarbutton-badge-stack {
    margin-inline-end: 0px !important;
  }

  #unified-extensions-view #overflowed-extensions-list,
  #unified-extensions-view #unified-extensions-area,
  #unified-extensions-view .unified-extensions-list {
    display: grid !important;
    grid-template-columns: repeat(var(--firefoxcss-number-of-extensions-in-a-row),auto);
    justify-items:left !important;
    align-items:left !important;
  }
}
