@-moz-document url(chrome://browser/content/browser.xhtml) {
  #appMenu-popup panelview {
    width: 25.5em !important;
  }

  [oncommand="switchToTabHavingURI('about:performance', true)"] {
    background-position: left 10px center;
    background-repeat: no-repeat;
    background-size: 16px;    
  }

  .subviewbutton:not(
  .subviewbutton-iconic,
  .toolbarbutton-text,
  [checked="true"]
  ) > .toolbarbutton-icon,
  .syncNowBtn {
    width: 16px;
    height: 16px;   
    margin-inline-end: 7px !important;
  }

  .subviewbutton {
    -moz-context-properties: fill;
    fill: var(--lwt-tab-text) !important;
  }

  .subviewbutton:hover {
    -moz-context-properties: fill;
    fill: var(--lwt-tab-text) !important;
  }

  :root[sizemode="maximized"] panelmultiview
  .toolbaritem-combined-buttons > label {
    margin-inline-start: calc(var(--margin-left-icons-personal) + 12px) !important;
  }

  panelmultiview .toolbaritem-combined-buttons > label {
    margin-inline-start: calc(var(--margin-left-icons-personal) + 12px) !important;
  }

  #appMenu-popup .panel-banner-item:not([disabled]),
  #appMenu-popup .addon-banner-item:not([disabled]) {
    background: var(--button-bgcolor) !important;
  }

  #appMenu-popup .panel-banner-item:not([disabled]):hover,
  #appMenu-popup .addon-banner-item:not([disabled]):hover {
    background: var(--button-active-bgcolor) !important;
  }

  .panel-banner-item::before {
    background: url("chrome://browser/skin/foxFill.svg") no-repeat center/16px;
    content: ""; display: block; width: 16px; height: 16px;
    margin-inline-end: 7px; -moz-context-properties: fill;
    fill: #3ad3a2 !important;
  }

  #appMenu-popup .panel-banner-item label {
    padding-inline-start: calc(var(--margin-left-icons-personal) - 12px) !important;;
  }

  #appMenu-fxa-label2 {
    margin-left: 0px !important;
    margin-inline-start: -8px !important;
  }

  #appMenu-fxa-label2::after{
    margin-inline-end: -6px !important;
  }

  :root[sizemode="maximized"] #appMenu-fxa-label2 {
    padding-bottom: 6px !important;
    margin-right: 6px !important;
  }

  #appMenu-fxa-status2[fxastatus="signedin"]
  #appMenu-header-description {
    display: none !important;
  }

  #appMenu-fxa-status2:not([fxastatus="signedin"]) { 
    margin-right: -1px !important;
    margin-inline-start: calc(var(--margin-left-icons-personal) + 12px) !important;
  }

  #appMenu-fxa-status2:not([fxastatus="signedin"]):hover toolbarbutton {
    background-color: var(--button-active-bgcolor) !important;
  }

  #appMenu-fxa-status2[fxastatus="signedin"]
  #appMenu-fxa-label2::before  {
    content: '.';
    display: inline-block;
    width: 16px;
    margin-top: 3px;
    margin-left: 12px;
    margin-inline-end: 7px;
    background: var(--avatar-image-url) no-repeat left/16px;
    color: transparent;
    border-radius: 50px !important;
    clip-path: circle(40%);
    pointer-events: none !important;
  }

  #appMenu-fxa-status2[fxastatus="signedin"]
  #appMenu-fxa-label2::after  {
    content: var(--account-label) !important;
    position: absolute;
    margin-top: 3px;
    padding-inline-start: 23px !important;
  }

  #fxa-manage-account-button::before {
    background: var(--avatar-image-url) no-repeat center/16px;
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    margin-inline-end: 7px;
    border-radius: 50%;
  }

  :root[fxastatus="signedin"] #fxa-menu-avatar {
    display: unset;
    -moz-box-ordinal-group: 2;
  }

  #appMenu-new-tab-button2 {
    list-style-image: url("chrome://browser/skin/new-tab.svg");
  }

  #appMenuRecentlyClosedTabs, #sidebar-switcher-tabs {
    list-style-image: url("chrome://browser/skin/window.svg");
  }

  #appMenu-new-window-button2, #appMenuRecentlyClosedWindows {
    list-style-image: url("chrome://browser/skin/tab.svg");
  }

  #appMenu-new-private-window-button2 {
    list-style-image: url("chrome://browser/skin/privateBrowsing.svg");
  }

  #appMenu-bookmarks-button,
  #appMenu-library-bookmarks-button,
  #sidebar-switcher-bookmarks,
  #panelMenuBookmarkThisPage {
    list-style-image: url("chrome://browser/skin/bookmark.svg");
  }

  #appMenu-history-button,
  #appMenu-library-history-button,
  #sidebar-switcher-history {
    list-style-image: url("chrome://browser/skin/history.svg");
  }

  #appMenu-downloads-button,
  #appMenu-library-downloads-button {
    list-style-image: url("chrome://browser/skin/downloads/downloads.svg");
  }

  #appMenu-passwords-button {
    list-style-image: url("chrome://browser/skin/login.svg");
  }

  #appMenu-extensions-themes-button {
    list-style-image: url("chrome://mozapps/skin/extensions/extension.svg");
  }

  #openprofiledir {
    list-style-image: url("chrome://browser/skin/open.svg");
  }

  #appMenu-print-button2 {
    list-style-image: url("chrome://global/skin/icons/print.svg");
  }

  #appMenu-save-file-button2 {
    list-style-image: url("chrome://browser/skin/save.svg");
  }

  #appMenu-find-button2, #panelMenu_searchBookmarks {
    list-style-image: url("chrome://global/skin/icons/search-glass.svg");
  }

  #appMenu-zoom-controls::before {
    content: '';
    width: 16px;
    height: 16px;
    background: url("chrome://global/skin/icons/search-glass.svg") no-repeat;
    padding-inline-start: 7px;
  }

  #appMenu-settings-button {
    list-style-image: url("chrome://global/skin/icons/settings.svg");
  }

  #appMenu-help-button2 {
    list-style-image: url("chrome://global/skin/icons/help.svg");
  }

  #appMenu-more-button2 {
    list-style-image: url("chrome://global/skin/icons/chevron.svg");
  }

  #appMenu-quit-button2 {
    list-style-image: url("chrome://global/skin/icons/collapse.svg");
  }

  #appMenu-quit-button2:hover {
    list-style-image: url("chrome://global/skin/icons/quit.svg");
    background-size: 16px;
  }

  #panelMenu_viewBookmarksToolbar {
    list-style-image: url("chrome://browser/skin/bookmarks-toolbar.svg");
  }

  #appMenuClearRecentHistory {
    list-style-image: url("chrome://browser/skin/forget.svg");
  }

  #appmenu-moreTools-button, #overflowMenu-customize-button {
    list-style-image: url("chrome://browser/skin/customize.svg");
  }

  .syncNowBtn {
    visibility: visible !important;
    -moz-box-ordinal-group: 0 !important;
  }

  #PanelUI-fxa-menu-connect-device-button {
    margin-left: 0px !important;
  }
}
