@-moz-document url(chrome://browser/content/browser.xhtml) {
  /*---------------ff sidebar---------------*/

  /* Expand sidebar on hover */
  #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] {
    z-index: 1;
    position: relative;
    min-width: var(--sidebar-width) !important;
    width: var(--sidebar-width) !important;
    transition: border-color var(--win-brdr-transition);
  }

  :root[inFullscreen] #sidebar-box {
    --sidebar-width: 2em !important;
  }

  #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] >
  #sidebar {
    min-width: var(--sidebar-width) !important;
    will-change: min-width;
    transition: min-width .2s ease-in-out,
                box-shadow .3s ease-in-out .3s !important;
    transition-delay: .3s !important;
  }

  #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]:hover >
  #sidebar {
    min-width: var(--sidebar-hover-width) !important;
    box-shadow: var(--sidebar-width) 0 30em 1em #1a192c29,
                var(--sidebar-width) 0 50px -1em color-mix(
                in lch,
                var(--primary-color) 8%,
                transparent
                ) !important;
    transition-delay: .1s !important;
  }

  :root:not([inFullscreen]) #sidebar-box {
    opacity: .9;
  }

  /* Hide sidebar header and line */
  #sidebar-header,
  #sidebar-splitter {
    display: none !important;
  }

  /*----------------floorp sidebar-----------------*/

  /* Box for selecting sidebars */
  #sidebar-select-box {
	  z-index: 0;
	  position: relative;
    align-items: center !important;
  }

  /* Actual Floorp sidebar window */
  .browser-sidebar2 {
	  border: none !important;
	  border-bottom: none !important;
  }

  /* Hide Floorp sidebar when not hovered (buggy) */
  *:hover ~ #sidebar2-box,
  #browser:not(:hover) #sidebar2-box,
  #sidebar2-box:not(:hover):has(~ #appcontent:hover) {
    width: 20% !important;
  }

  /* Hide Floorp sidebar header */
  #sidebar2-header {
    max-height: .5em !important;
    min-height: .5em !important;
    opacity: 0 !important;
    transition: max-height .3s ease-in-out,
                min-height .3s ease-in-out,
                opacity .3s ease-in-out;
  }

  #sidebar2-header:hover {
    max-height: 2.5em !important;
    min-height: 2.5em !important;
    opacity: 1 !important;
  }

  #sidebar2-box {
    margin-left: var(--useless-gaps);
    margin-right: calc(-1 * var(--useless-gaps));
    transition: border-color var(--win-brdr-transition),
                width .3s ease-in-out;
  }

  /*-----------sidebar border-------------*/

  #sidebar-select-box,
  :root:not([inFullscreen])
  #sidebar-box #sidebar,
  #sidebar-box #webextpanels-window,
  :root:not([inFullscreen])
  #sidebar2-box {
    border: var(--win-brdr-size)
            var(--win-brdr-style)
            var(--win-brdr-color) !important;
    border-radius: var(--win-brdr-radius);
    box-shadow: var(--win-box-shadow);
  }

  #sidebar-select-box,
  #sidebar-box #sidebar,
  #sidebar-box #webextpanels-window {
    transition: border-color var(--win-brdr-transition);
  }

  #sidebar-select-box:hover,
  :root:not([inFullscreen])
  #sidebar-box #sidebar:hover,
  #sidebar-box #webextpanels-window:hover,
  :root:not([inFullscreen])
  #sidebar2-box:hover {
    border-color: var(--win-brdr-color-hover) !important;
    box-shadow: var(--win-box-shadow-hover);
  }

  #sidebar-select-box {
    --brdr-radius: calc((var(--win-brdr-radius) + 4px) / 2);
  }

  #sidebar-select-box .sidepanel-icon:first-of-type {
    border-radius: var(--brdr-radius) var(--brdr-radius) 4px 4px !important;
  }

  #bottomButtonBox toolbarbutton:last-of-type {
    border-radius: 4px 4px var(--brdr-radius) var(--brdr-radius) !important;
  }
}
