@-moz-document url(chrome://browser/content/browser.xhtml) {
  /* Remove line between top bar and website content */
  #navigator-toolbox:not([inFullscreen]) {
    flex-direction: row;
    justify-content: center;
    position: relative;
    padding: var(--useless-gaps)
             var(--useless-gaps)
             0
             var(--useless-gaps) !important;
    height: var(--toolbar-height);
    border-bottom: var(--firefoxcss-top-bar-border-bottom-size) solid var(--firefoxcss-top-bar-border-bottom-color) !important;
  }

  /* Instantly hide the top toolbar in fullscreen mode */
  /* (override transition) */
  #navigator-toolbox[inFullscreen]
  #TabsToolbar {
    display: none !important;
  }

  toolbar .toolbarbutton-1 > .toolbarbutton-icon {
    background: none !important;
  }

  toolbar .toolbarbutton-1 > .toolbarbutton-text {
    padding: .08em .15em !important;
  }

  #workspaces-toolbar-button {
    padding: 0px 15px 0 11px !important;
    border-radius: var(--btn-brdr-radius) !important;
  }

  #workspacesCreateNewWorkspaceButton:hover {
    background-color: unset !important;
  }

  #workspacesToolbarButtonPanel {
    background: var(--toolbarbutton-active-background) !important;
  }

  /* Auto hide icons on the nav bar */
  #nav-bar-customization-target
  *:not(#urlbar-container):not(#urlbar-container *),
  #PanelUI-button,
  .titlebar-buttonbox-container {
    transition: opacity .4s !important;
  }

  #nav-bar:not(:hover) >
  #nav-bar-customization-target
  *:not(#urlbar-container):not(#urlbar-container *),
  #nav-bar:not(:hover) >
  #PanelUI-button,
  #navigator-toolbox:not(:hover)
  .titlebar-buttonbox-container {
    opacity: 0 !important;
  }

  /* Remove the all tab and new tab button */
  #alltabs-button,
  #tabs-newtab-button {
    display: none !important;
  }

  /* Nav bar */
  #nav-bar {
    z-index: 3;
    flex-grow: 1;
    box-shadow: none !important;
  }

  #nav-bar:not([urlbar-exceeds-toolbar-bounds="true"]) {
    transform: translateX(3px) !important;
  }

  @media screen and (max-width: 100px) {
    #TabsToolbar {
      margin-right: 0 !important;
    }

    #nav-bar {
      margin-left: 0 !important;
    }
  }

  #nav-bar-customization-target,
  #PanelUI-button {
    position: relative !important;
    z-index: 3 !important;
  }

  #titlebar,
  #TabsToolbar,
  .toolbar-items,
  #TabsToolbar-customization-target {
    max-width: var(--tab-min-width) !important;
  }

  #tabbrowser-tabs {
    flex: unset !important;
    min-width: var(--tab-favicon-size) !important;
    min-height: var(--tab-favicon-size) !important;
  }

  /* Make active tab hidden */
  tab:not([selected="true"]), 
  [part="overflow-start-indicator"], 
  [part="overflow-end-indicator"], 
  #scrollbutton-up, 
  #scrollbutton-down, 
  #TabsToolbar .titlebar-spacer, 
  toolbarbutton#new-tab-button,
  .tabbrowser-tab[selected="true"] .tab-text, 
  .tabbrowser-tab[selected="true"] .tab-close-button, 
  .tab-line, 
  .tab-throbber {
    display: none !important;
  }

  .tabbrowser-tab[selected="true"] {
    min-width: var(--tab-min-width) !important;
    max-width: var(--tab-min-width) !important;
  }

  .tabbrowser-tab {
    /* Fix tab glitching in toolbar */
    margin-inline-start: -6px !important;
  }

  .tab-background {
    outline: none !important;
    box-shadow: none !important;
  }

  .tab-icon-image { 
    height: 23px !important; 
    width: 23px !important; 
    border-radius: 10px !important;
  }

  /* Align favicon with toolbar items */

  #TabsToolbar .toolbar-items {
    display: unset !important;
  }

  #tabbrowser-tabs .tab-label-container {
    height: unset !important;
  }

  #tabbrowser-tabs .tab-icon-stack {
    margin-top: calc((var(--toolbar-height) - var(--tab-favicon-size)) / 2 - 5.5px) !important;
    margin-left: 3.5px;
  }

  /* -------------------------------- */
}
