# user-specific elements
.pfp

#########################################

# avoid .git
.dotfiles
# not really dotfiles
.cache
cache
.old
# heavy useless stuff
target
build
dist
Mail
storage
blob_storage
node_modules
__pycache__
